Header {
    display: flex;
    padding: 0 3rem;
    
}

Header img {
    width: 6rem;
    height: 6rem;
}

Header .title{
    display: flex;
    align-items: center;
    font-size: 1rem;
}

Header .menulink ul, li{
display: flex;
list-style-type: none;
font-size: 1rem;
padding-inline: 0.5rem;
}

Header , .title , .menulink {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}