@font-face {
  font-family: "Cerco DEMO Black";
  src: url("../fonts/CercoDEMO-Black.eot") format("eot"),
    url("../fonts/CercoDEMO-Black.woff") format("woff"),
    url("../fonts/CercoDEMO-Black.ttf") format("truetype"),
    url("../fonts/CercoDEMO-Black.svg#CercoDEMO-Black") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  position: relative;
  text-decoration: none;
}

.container {
display: flex;
flex-direction: column;
  font-family: "Cerco DEMO Black";;
  height: 60rem;
  width: 100%;
}


